:root {
    --primary: #48cfad;
    --secondary: #22272d;
    --light-gray: #dfe3e9;
    --medium-gray: #c3c9d3;
    --dark-gray: #59626d;
    --black: #1f2427;
    --complement-one: #a186e9;
    --complement-two: #95cd5f; 
    --just-white: #ffffff;
    --just-black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: var(--just-black);
}

header {
    width: 100%;
    height: 144px;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
}
header .header__social {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--primary);
}
header .social__icons {
    width: 300px;
    height: auto;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    align-items: center;
    justify-self: end;
}
header .social__icons span{
    color: var(--just-white);
}
header .header__nav {
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header .nav__logo {
    min-height: 0;
    max-height: 100%;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
header .nav__logo a {
    display: flex;
    align-items: center;
    height: 80%;
}
header .nav__logo img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
header .nav__about {
    margin-right: 50px;
    justify-self: end;
    align-self: center;
}
header .nav__about a {
    font-weight: 700;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--just-black);
}

.home-hero {
    height: calc(100vh - 144px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-image: url(../assets/images/cover.png);
    background-position: center;
    background-size: cover;
}
.home-hero__title {
    min-width: 320px;
    max-width: 800px;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    color: var(--just-white);
}
.home-hero__button {
    padding: 12px;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
    background-color: var(--primary);
}

.blogs-main {
    width: 100%;
}

.blogs-main__principal {
    width: 100%;
    padding: 30px 40px 30px;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    background-color: var(--light-gray);
}
.blogs-main__principal--news {
    padding-top: 16px;
    grid-template-rows: auto auto;
}
.principal__title {
    margin-bottom: 16px;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
}
.principal__container {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.principal__image--news {
    align-self: flex-start;
}
.principal__image img {
    width: 100%;
    object-fit: contain;
}
.principal__info {
    height: fit-content;
    display: grid;
}
.principal__info--news {
    grid-template-rows: repeat(3, auto);
}
.principal__info h2 {
    font-size: 2.4rem;
    font-weight: 700;
}
.principal__info p {
    margin: 16px 0;
    font-size: 1.6rem;
    font-weight: 500;
}
.blogs-button {
    padding: 8px;
    min-width: 68px;
    min-height: 28px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    border: 1px solid var(--primary);
    font-size: 1.2rem;
    font-weight: 500;
}
.blogs-main__secondary {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
}
.secondary__title {
    width: 90%;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid var(--medium-gray);
}
.secondary__blog-card-container {
    width: 90%;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.blog-card {
    width: 100%;
}
.blog-card__image {
    width: 100%;
}
.blog-card__image img {
    width: 100%;
    object-fit: contain;
}
.blog-card__title {
    margin: 20px 0 28px;
    font-size: 1.6rem;
    font-weight: 700;
}
.blog-card p {
    margin-bottom: 28px;
    font-size: 1.6rem;
    font-weight: 500;
    white-space: wrap;
    overflow: auto;
}
.blog-card__button {
    margin-bottom: 20px;
}

.blogs-main__third {
    width: 100%;
    padding: 20px;
    display: grid;
    align-items: center;
    background-color: var(--light-gray);
}
.third__container {
    width: 100%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}
.third__card {
    min-width: 200px;
    max-width: 300px;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.third__image {
    width: 50px;
    margin: 0 auto;
    justify-self: center;
}
.third__image img {
    width: 100%;
    object-fit: contain;
}
.info__title {
    margin-bottom: 0.4rem;
    border-bottom: 1px solid var(--black);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
}
.info__text {
    font-size: 1.2rem;
    font-weight: 500;
}

.blogs-main__principal--news {
    grid-template-rows: auto auto;
}

.blogpost {
    width: 100%;
}
.blogpost__image {
    width: 95%;
    margin: 0 auto;
}
.blogpost__image img {
    width: 100%;
    object-fit: contain;
}
.blogpost__section {
    width: 90%;
    margin: 0 auto;
    padding: 48px 0 20px;
    border-bottom: 1px solid var(--medium-gray);
    font-size: 2rem;
}
.blogpost__article {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 28px;
}
.blogpost__article h3{
    margin: 36px 0;
    font-size: 3.6rem;
    font-weight: 700;
}
.blogpost__article p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
}

footer {
    min-height: 100px;
    border-top: 35px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
}
footer p {
    padding: 8px;
    font-size: 1.6rem;
    color: var(--just-white);
}